.headCustom {
	/* border: 3px solid blue; */
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headCustomConnect {
	/* border: 3px solid pink; */
	position: absolute;
	left: 1150px;
	top: 22px;
	margin-bottom: 70px;
	width: 20vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.Sinscrire,
.Seconnecter,
.nav-link {
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 30px;
	text-align: center;
	color: black;
}

.nav-link:hover{
	color: #72532E;
}

.MasterHead {
	/* border: 3px solid lightcoral; */
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 20vh;
}

.homeImg {
	width: 15vw;
	height: 18vh;
	background: url('./img/My\ Precious.png') center / cover;
}

.ProductMaster {
	display: flex;
	justify-content: center;
	margin: 10px;
	padding-bottom: 30px;
	/* border: 3px solid red; */
	width: 50vw;
	height: 7vh;
}

.ProductHead {
	/* border: 3px solid black; */
	width: 20vw;
	height: 5vh;
	display: flex;
	/* margin-top: 80px; */
}

.ligne {
	border: 1px solid #9E8631;
	width: 50vw;
	height: 2px;
	margin-top: 80px;
	margin-left: 20px;
	margin-right: 20px;
	/* background: url('./img/Line\ 1.png') center / cover; */
}

.cartP {
	/* border: 3px solid red; */
	width: 30px;
	height: 30px;
	margin-right: 20px;
	background: url('./img/icons8-caddie-64.png') center / cover;
}
.favorisP {
	width: 26px;
	height: 26px;
	background: url('./img/coeur-transparent.png') center / cover;
}

.signIn {
	background-color: grey;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cartNumber{
	position: absolute;
	border-radius: 50%;
	right: 10px;
    bottom: 10px;
	background-color: red;
	color: white;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.cartLink {
	position: relative;

}