.headCustom {
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headCustomConnect {
	position: absolute;	
	left: 81%;
	top: 5%;
	width: auto;
	height: 4vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.Sinscrire,
.Seconnecter,
.nav-link {
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	/* margin-bottom: 30px; */
	text-align: center;
	color: black;
}

.nav-link:hover{
	color: #72532E;
}

.MasterHead {
	display: flex;
	flex-direction: column;
	justify-content:first baseline;
	align-items: flex-start;
	width: auto;
	height: 20vh;
}

.homeImg {
	width: 15vw;
	height: 18vh;
	align-items: center;
	position: relative;
	left: 279%;
	bottom: 80px;
	background: url('./img/My\ Precious.png') center / cover;
}

.ProductMaster {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	width: 50vw;
	height: 7vh;
}

.ProductHead {
	width: 30vw;
	height: 5vh;
	display: flex;
	justify-content: center;
	/* margin-top: 80px; */
}


.ligne1 {
	border: 1px solid #9E8631;
	width: 100vw;
	height: 2px;
	left: 30px;
	margin-top: 80px;
	/* margin-left: 20px; */
	/* margin-right: 20px; */
	align-items: center;
	/* background: url('./img/Line\ 1.png') center / cover; */
}
.ligne2 {
	border: 1px solid #9E8631;
	width: 100vw;
	height: 2px;
	left: 30px;
	margin-top: 80px;
	/* margin-left: 20px; */
	/* margin-right: 20px; */
	align-items: center;
	/* background: url('./img/Line\ 1.png') center / cover; */
}

.cartP {
	/* border: 3px solid red; */
	width: 30px;
	height: 30px;
	margin-right: 20px;
	background: url('./img/icons8-caddie-64.png') center / cover;
}
.favorisP {
	width: 26px;
	height: 26px;
	background: url('./img/coeur-transparent.png') center / cover;
}

.signIn {
	background-color: grey;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cartNumber{
	position: absolute;
	border-radius: 50%;
	right: 10px;
    bottom: 10px;
	background-color: red;
	color: white;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.cartLink {
	position: relative;

}
.allAdminContainer{
	/* border: 3px solid pink; */
	display: flex;
	height: 100vh;
	flex-direction: row;
}
.containerImg {
	/* border: 3px solid red; */
	height: auto;
	width: 50vw;
	background: url('./img/adminall.jpg') center / cover;

}

.navAdmin {
	/* border: 3px solid blue; */
	background-color:white;
	display: flex;
	justify-content: center;
	width: 46vw;
	height: auto;
}

.conNav {
	/* border: 3px solid green	; */
	background-color: white;
	height: auto;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.logoPrecious {
	width: 20vw;
	height: 22vh;
	position: relative;
	top: 11%;
	background: url('./img/My\ Precious.png') center / cover;


}

.navItem {
	/* border: 3px solid yellow; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 20px;
}
.welcoAdmin {
	padding: 20px;
	margin: 20px;
	font-family: Josefin Sans;
	text-align: center;
}

.navLink {
	font-size: 25px;
	font-weight: 600;
}

.navGestion {
	background-color: black;
	display: flex;
	justify-content: center;
}
.navItemGestion {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.logoGestion {
	width: 200px;
	height:125px;
	background: url('./img/My\ Precious.png') center / cover;

}

@media all and (max-width: 1400px)
{
	.headCustom {
		/* border: 3px solid blue; */
		height: auto;
		width: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.headCustomConnect {
		/* border: 3px solid pink; */
		position: relative;
		left: 0px;
		top: 20px; 
		height: auto;
		margin-bottom: auto;
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}
	
	.Sinscrire,
	.Seconnecter,
	.nav-link {
		font-family: Josefin Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 20px;
		margin-bottom: auto;
		text-align: center;
		color: black;
	}
	.MasterHead {
		display: flex;
		/* border: 3px solid green; */
		flex-direction: row;
		justify-content: space-between;
		width: 100vw;
		margin-bottom: 10px;
		height: auto;
	}
	
	.homeImg {
		width: 41vw;
		height: 19vh;
		position: auto;
		left: auto;
		top: auto;
		bottom: auto;
		margin-left: 12px;
		background: url('./img/My\ Precious.png') center / cover;
	}
	
	.ProductMaster {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		margin-bottom: 20px;
		padding: 0px;
		width: 100vw;
		height: auto;
	}
	
	.ProductHead {
		/* border: 3px solid black; */
		width: auto;
		height: auto;
		display: flex;
		justify-content: center;
		margin: 0px;
		padding: 0px;
		flex-direction: row;
	}
	
	.ligne1 {
		display: none;
		/* background: url('./img/Line\ 1.png') center / cover; */
	}

	.cartP {
		width: 25px;
		height: 36px;
		margin-right: 20px;
		background: url('./img/icons8-caddie-64.png') center / cover;
	}
	.favorisP {
		width: 25px;
		height: 36px;
		background: url('./img/coeur-transparent.png') center / cover;
	}

}
