.Section1 {
	height: auto;
	width: auto;
	padding: 9%;
	background: url('./img/AdobeStock_209858112.jpeg') center / cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.titleHome {
	/* border: 3px solid yellow; */
	width: 40vw;
	height: 80vh;
}

.titleHomebis {
	text-align: center;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	text-transform: capitalize;
	color: #7b3f27;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	line-height: 90px;
}

.Section2 {
	height: auto;
	width: auto;
	display: flex;
	padding: 10px;
	justify-content: space-between;
}

.img1Home {
	background: url('./img/Rectangle\ 3.png') center / cover;
	margin: 20px;
	height: 100vh;
	width: 45vw;
}

.para1Home {
	height: auto;
	margin: 20px;
	width: 46vw;
}

.para1Homebis {
	font-family: Josefin Sans;
	text-align: justify;
	padding: 10px;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 216.5%;
	letter-spacing: 0.09em;
}

.Section3 {
	background: rgba(200, 163, 123, 0.17);
	height: auto;
	width: auto;
	display: flex;
	padding: 10px;
	justify-content: space-between;
}

.para2Home {
	height: auto;
	margin: 20px;
	width: 46vw;
}

.para2Homebis {
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	padding: 10px;
	font-size: 23px;
	line-height: 216.5%;
	letter-spacing: 0.09em;
}

.img2Home {
	/* border: 3px solid blue; */
	background: url('./img/Rectangle\ 5.png') center / cover;
	margin: 20px;
	height: auto;
	width: 50vw;
	
}

/* Responsive de la page home  */

@media all and (max-width: 1400px)
{
	body {
		overflow-x: hidden;
	}
	.Section1 {
		width: auto;
		padding: auto;
		margin: auto;
		height: auto;
		background: url('./img/AdobeStock_209858112.jpeg') center / cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.titleHome {
		width: 40vw;
		height: auto;
		margin-bottom: 40%;
	}
	
	.titleHomebis {
		font-size: 24px;
		line-height: 24px;
	}

	.Section2 {
		margin: auto;
		height: auto;
		width: auto;
		display:flex;
		flex-direction: column-reverse;
	}
	
	.img1Home {
		background: url('./img/AdobeStock_262306609.jpeg') center / cover;
		margin: 10px;
		height: 50vh;
		width: auto;
	}
	
	.para1Home {
		height: auto;
		margin: auto;
		padding: 10px;
		width: auto;
	}
	
	.para1Homebis {
		text-align: center;
		padding: 10px;
		font-size: 18px;
	}

	.Section3 {
		height: auto;
		width: auto;
		display: flex;
		margin: auto;
		flex-direction: column-reverse;
		justify-content: center;
	}
	
	.para2Home {
		height: auto;
		margin: auto;
		padding: 10px;
		width: auto;
	}
	
	.para2Homebis {
		text-align: center;
		padding: 10px;
		font-size: 18px;
	}
	
	.img2Home {
		background: url('./img/Rectangle\ 5.png') center / cover;
		margin: 10px;
		height: 60vh;
		width: auto;
	}
	


}

